
var formatLastTouched = function(timestamp) {
  var stamp = Math.round(getDate() / 1000 - timestamp);
  var timeSpanStr = '';
  if (stamp < 60) {
    timeSpanStr = '刚刚';
  } else if (stamp > 60 && stamp < 60 * 60) {
    timeSpanStr = Math.round(stamp / 60) + '分钟前';
  } else if (stamp > 60 * 60 && stamp < 60 * 60 * 24) {
    timeSpanStr = Math.round(stamp / 60 / 60) + '小时前';
  } else if (stamp > 60 * 60 * 24 && stamp < 60 * 60 * 24 * 15) {
    timeSpanStr = Math.round(stamp / 60 / 60 / 24) + '天前';
  } else {
    timeSpanStr = getDate(timestamp * 1000).toDateString('YYYY年MM月DD日')
  }
  return timeSpanStr;
}

module.exports = {
  formatLastTouched: formatLastTouched
}